.button {
	background: #007DA0;
  background-image: -webkit-linear-gradient(top, #D3D3D3, #007DA0);
  background-image: -moz-linear-gradient(top, #D3D3D3, #007DA0);
  background-image: -ms-linear-gradient(top, #D3D3D3, #007DA0);
  background-image: -o-linear-gradient(top, #D3D3D3, #007DA0);
  background-image: linear-gradient(to bottom, #D3D3D3, #007DA0);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
  width:100%;


}

.button:hover {
  background: #007DA0;
  border-width: 2px;
}

.button:active {
  background: #007FA0;
  border-width: 2px;
}