  .artist-name {
  max-width: 398px;
  background: #EEEEFF;
  font: 30px arial, sans-serif;
  text-align: left;
  color: #007DA0;
  border-style: solid;
  border-color: #003CA0;
  border-width: 5px; 
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  }

 .artist-image {
  display: block;
  min-width: 396px;
  max-width: 396px; 
  max-height: 396px;
  background-color: #EEEEFF;
  border-width: 5px; 
  border-color: #003CA0;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  padding-left: 10px;
  padding-right: 10px;

  }

#name {
  display:none;
}

#image {
  display:none;
  position: relative;
}
