.chartouter{
	position: relative;
  	width: 70%;
  	height: 100%;
}
.top10{
	display: none;
	position: absolute;
	width: 700px;
	height: auto;
	background-color: #EEEEFF;
	z-index: 3;
	top: 10px;
	left: 12%;
	border-style: solid;
	border-width: 2px;
	border-color:  #EEEEFF;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 3px 3px 1px #888888;

}

.charttitle{
	font: 18px arial, sans-serif;	
	color: #003CA0;
	height: 30px;
	padding-top: 15px;
}
.chart > div{
	border-style: solid;
	border-color:#EEEEFF;
	border-top-style: none;
}

.chart-artist-name{
	width: 290px;
	height: 35px;
	float: left;
	font: 16px arial, sans-serif;
	padding-left:10px;
	padding-top: 20px;
	background-color: #338CB0;

}

.chart-position{
	width:90px;
	height: 40px;
	color: #EEEEFF;
	background-color: #338CD0;
	margin:0 auto;
	font: 22px arial, sans-serif;
	padding-top: 15px;
}

.chart-total{
	width: 300px;
	height: 35px;
	float: right;
	font: 16px arial, sans-serif;
	padding-top: 20px;
	background-color: #338CB0;
}



